<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKqFBHp8PLGPQ0stD0kkL9afwB45uZkbM</string>
	<key>GCM_SENDER_ID</key>
	<string>560762092474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesTicketBookingWebsite.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movietickets-3ddad</string>
	<key>STORAGE_BUCKET</key>
	<string>movietickets-3ddad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560762092474:ios:6ef8ba50602ff26ae0bb83</string>
</dict>
</plist>